.scroller__navigation {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  & ul {
    list-style: none;
    & li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: hsla(197, 69%, 49%, 0.596);
      cursor: pointer;
      & + li {
        margin-top: 10px;
      }
      &.active {
        background-color: blue;
      }
    }
  }
}
